hardware/*/*.zip
hardware/*/*-backups/*
hardware/*/production/*
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# In THIS house, we recognise MacOS likes to leave little poos everywhere
**/.DS_Store
**/._*

# temporary local hacks
firmware/c_orig
firmware/rust

# KiCad backup & autosave files
**/*-backups
**/_autosave-*
**/~*
**/#auto_saved_files#
**/fp-info-cache
